body {
  background-color: #F8F8F8;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container--modifier {
  min-width: 320px;
  max-width: 1121px;
  min-height: 597px;
  font-family: "TT Lakes", serif, 'Times New Roman', Times, serif;
  margin: 0 auto;
}


.upper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upper-menu--modifier {
  min-width: 320px;
  height: 88px;
  border: 1px solid transparent;
  border-bottom-color: #D9FFF5;
}

.upper-menu__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upper-menu__first-part--modifier {
  width: 184px;
  height: 100%;
}

.upper-menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .icon-style {} */

.upper-menu__first-separator {
  display: none;
}

.separator {
  width: 2px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  background-color: #EAEAEA
}


/* .upper-menu__logo {} */

/* .upper-menu__middle-separator {} */

.second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.second-part--modifier {
  width: 128px;
  height: 100%;
}

.second-part__hidden-call {
  display: none;
}

.second-part__hidden-chat {
  display: none;
}

.icon-style {
  height: 40px;
  width: 40px;
}


.second-part__hidden-profile {
  display: none;
}

.second-part__second-separator {
  display: none;
}

.request-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.request-block--modifier {
  width: 40px;
  height: 40px;
}

.request-block__link {
  text-wrap: nowrap;
  display: none;
}

.request-block__link--modifier {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes medium", serif, 'Times New Roman', Times, serif;
  height: 25px;
  width: 125px;
}

/* .request-block__icon {} */

.checkstatus-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.checkstatus-block--modifier {
  width: 40px;
  height: 40px;
}

.checkstatus-block__link {
  display: none;
}

.checkstatus-block__link--modifier {
  text-wrap: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes medium", serif, 'Times New Roman', Times, serif;
  height: 25px;
  width: 119px;
}

/* .checkstatus-block__icon {} */

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.main-container--modifier {
  background-color: #F8F8F8;
  min-width: 320px;
  min-height: 509px;
}

.main-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;
}

.main-container__title--modifier {
  height: 40px;
  width: 304px;
}

.main-container__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container__decor {
  width: 4px;
  height: 100%;
  border: 1px solid #41F6D7;
  border-radius: 0 4px 4px 0;
  background-color: #41F6D7;
}

.main-container__title-text {
  font-size: 28px;
  width: 288px;
  height: 40px;
  margin-left: 12px;
  letter-spacing: -0.6px;
  line-height: 40px;
  font-family: 'TT Lakes black', serif, 'Times New Roman', Times, serif;
}

.main-container__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-container__right-block--modifier {
  display: none;
  width: 396px;
}

.main-container__scroll-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-container__scroll-menu--modifier {
  margin-left: 16px;
  width: auto;
  height: 40px;
  white-space: nowrap;
  overflow-x: auto;
  list-style-type: none;
}

.main-container__side-item {
  text-wrap: nowrap;
  padding: 6px 17px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

.main-container__side-item:focus {
  border: 2px solid #41F6D7;
  border-radius: 6px;
  background-color: white;
}

.main-container__information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.main-container__information-block--modifier {
  width: 320px;
  height: 322px;
}

.main-container__information-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container__information-text--modifier {
  height: 130px;
}

.main-container__text {
  margin: 0 auto;
  width: 288px;
  height: 90px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.main-container__text div:nth-child(1) {
  padding: auto 0;
}

.main-container__text div:nth-child(2) {
  display: none;
  margin: auto 0;
}

.main-container__text div:nth-child(3) {
  display: none;
  margin: auto 0;
}

.main-container__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.main-container__read-more--modifier {
  width: 132px;
  height: 24px;
  margin-left: 16px;
}

/* .main-container__icon {} */

.main-container__text-more {
  font-family: 'TT Lakes medium', serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  border: 0;
  border-radius: 0;
  background: #F8F8F8;
}

.main-container__text-more:active {
  border: 1px solid #41F6D7;
  border-radius: 4px;
  background: #F8F8F8
}

.main-container__image {
  width: 320px;
  height: 176px;
  background-image: url("../files/main-container/first-block/01.png");
  background-repeat: no-repeat;
  background-size: contain;
}