body {
  background-color: #F8F8F8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black
}


.container {
  display: flex;
  flex-direction: column;
}

.container--modifier {
  max-width: 1121px;
  font-family: "TT Lakes", serif, 'Times New Roman', Times, serif;
  margin: 0 auto;
}

.upper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-menu--modifier {
  border: 1px solid transparent;
  border-bottom-color: #D9FFF5;
  padding: 17px 0;
}

.upper-menu__first-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.upper-menu__burger--modifier {
  background-color: #F8F8F8;
  border: none;
  padding-left: 16px;
}

.upper-menu__logo--modifier {
  padding: 0 16px;
}

.upper-menu__logo::after {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  background-color: #EAEAEA;
  z-index: 1;
  margin: auto;
  margin-left: 16px;
  margin-right: 0;
}

.upper-menu__logo::before {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  background-color: #EAEAEA;
  z-index: 1;
  margin: auto;
  margin-left: 0;
  margin-right: 16px;
  display: none;
}

.second-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indent-right--style {
  padding-right: 16px
}

.upper-menu__burger,
.upper-menu__logo,
.request-block,
.checkstatus-block {
  display: inline-flex;
}

.hidden320 {
  display: none;
}

.second-part__hidden-profile::after {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  background-color: #EAEAEA;
  z-index: 1;
  margin: auto;
  margin-right: 0;
  margin-left: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-container--modifier {
  background-color: #F8F8F8;
  min-height: 509px;
}

.main-container__title {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-container__title--modifier {
  height: 40px;
}


.main-container__left-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container__title-text--modifier {
  font-size: 28px;
  height: 40px;
  margin-left: 16px;
  letter-spacing: -0.6px;
  font-family: 'TT Lakes black', serif, 'Times New Roman', Times, serif;
}

.main-container__title-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41F6D7;
  border-radius: 0 4px 4px 0;
  background-color: #41F6D7;
}

.main-container__scroll-menu {
  display: flex;
  align-items: center;
}

.main-container__scroll-menu--modifier {
  margin-left: 16px;
  white-space: nowrap;
  overflow-x: auto;
  list-style-type: none;
}

.main-container__side-item--modifier {
  display: block;
  text-wrap: nowrap;
  padding: 6px 17px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

.main-container__side-item:focus {
  border: 2px solid #41F6D7;
  border-radius: 6px;
  background-color: white;
}

.main-container__information-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.main-container__information-block--modifier {
  height: 322px;
}

.main-container__information-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container__information-text--modifier {
  height: 122px;
}

.main-container__text--modifier {
  margin: 0 auto;
  max-height: 90px;
  line-height: 18px;
  font-size: 16px;
  padding: 0 calc(100vw/20);
  letter-spacing: 0.2px;
  overflow: hidden;
  margin: auto 0;
  font-size: 14px;
}

.main-container__text-more {
  align-self: flex-start;
  position: relative;
}

.main-container__text-more--modifier {
  font-family: 'TT Lakes medium', serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  border: 0;
  border-radius: 0;
  background: #F8F8F8;
  margin-left: calc(100vw/8);
}

.main-container__text-more::before {
  position: absolute;
  content: url(../files/main-container/read-more/expand.svg);
  left: -40px;
  margin-left: 16px;
}

.main-container__image--modifier {
  width: 100%;
  max-width: 438px;
  margin: 0 auto;
}