.container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container--modifier {
  min-width: 1120px;
  min-height: 535px;
  background-color: #F8F8F8;
}

.upper-menu {
  display: none;
}

.request-block--modifier {
  width: 201px;
}

.request-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-block__link--modifier {
  margin-right: 9px;
}

.checkstatus-block--modifier {
  width: 195px;
}

.checkstatus-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkstatus-block__link--modifier {
  margin-right: 9px;
}

.main-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container--modifier {
  min-width: 100%;
  min-height: 455px;
}

.main-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container__title--modifier {
  min-width: 100%;
}

.main-container__left-block--modifier {
  width: 266px;
}

.main-container__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container__scroll-menu--modifier {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  min-width: 100%;
  overflow: unset;
  height: 82px;
}

.main-container__information-block {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-container__information-block--modifier {
  min-width: 1063px;
  height: 307px;
}

.main-container__text {
  min-width: 490px;
  height: 160px;
}

.main-container__text div:nth-child(1),
.main-container__text div:nth-child(2) {
  display: none;
}

.main-container__text div:nth-child(3) {
  display: block;
}

.main-container__image {
  -o-border-image: url("../files/main-container/first-block/03.png");
  border-image: url("../files/main-container/first-block/03.png");
  width: 532px;
  height: 307px;
}